@font-face {
    font-family: 'Neo Sans Zeli';
    src: local('Neo Sans'), url(./fonts/Neo_Sans.TTF) format('truetype');
}

li {
    list-style-type: none;
}

#chat-container {
    width: 400px;
    height: 800px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    scrollbar-width: none;
    font-family: 'Neo Sans Zeli';
    color: antiquewhite;
    margin-left: 10px;
}

.chat-message-container {
    margin-bottom: 10px;
    background-color: rgba(255, 0, 0, 0.1);
    padding: 5px;
}

.user-container {
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 10px;
}

.username {
    font-size: 18pt;
}

.pfp-container {
    width: 50px;
    height: 50px;
    grid-row-start: 1;
    grid-row-end: 3;
}

.pfp-img {
    border-radius: 50%;
    width: 50px;
}

/*.username-container {
}*/

.badges-container {
    height: 18px;
    display: flex;
    flex-direction: row;
}

.badge {
    width: 18px;
    height: 18px;
}

.msg-container {
    margin-top: 5px;
}
.message {
    word-wrap: break-word;
    font-size: 14pt;
}