@font-face {
    font-family: 'Neo Sans Zeli';
    src: local('Neo Sans'), url(./fonts/Neo_Sans.TTF) format('truetype');
}

li {
    list-style-type: none;
}

#chat-container {
    width: 400px;
    height: 800px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    scrollbar-width: none;
    font-family: 'Neo Sans Zeli';
    font-size: 16pt;
    color: antiquewhite;
    margin: 0px;
    padding: 0px;
}

.chat-message-container {
    background-color: blueviolet;
}

.user-container {
    background-color: aqua;
}

.username {
    font-size: 20pt;
}

.pfp-container {
    width: 50px;
    height: 50px;
    background-color: blue;
}

.pfp-img {
    border-radius: 50%;
    height: 50px;
}

.username-container {
    background-color: cadetblue;
}

.badges-container {
    height: 18px;
    background-color: brown;
}

.badge {
    height: 18px;
}

.message {
    word-wrap: break-word;
    font-size: 14pt;
}